.introduction {
  //   height: 100%;
  animation: opacity 0.5s 1 ease;
  width: 100%;
  &__keyword {
    margin-bottom: 2rem;
  }
  img {
    height: 20rem !important;
    object-fit: contain;
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
