.introduction {
  //   height: 100%;
  animation: opacity 0.5s 1 ease;
  width: 100%;
  img {
    height: 20rem !important;
    object-fit: contain;
  }
  //   section {
  //     overflow: hidden auto;
  //     height: calc(100vh - (var(--height-header) + 4rem));
  //   }
  //   .ant-tabs-tab {
  //     padding-left: 0.5rem !important;
  //     padding-right: 1rem !important;
  //   }
  //   .ant-tabs-content-holder,
  //   .ant-tabs-nav {
  //     background-color: #fff !important;
  //     // margin-left: 1rem !important;
  //     margin-top: 1rem !important;
  //     margin-right: 1rem !important;
  //     margin-bottom: 1rem;
  //     padding: 1rem !important;
  //     // @media (min-width: 1440px) {
  //     // }
  //   }
  //   .ant-tabs-tabpane {
  //     padding: 0 !important;
  //   }
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
