.presentation {
  height: 100%;
  width: 100%;
  background-color: #f0f2f5;
  &__title-container {
    height: var(--height-header);
    position: relative;
  }
  &__title-bg {
    // background-image: url("/img/ports/perspectiva.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 55%;
    // filter: blur(10px);
    filter: blur(10px) brightness(0.7);
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    animation: blur 10s infinite alternate ease;
  }
  &__title {
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0 !important;
    text-shadow: 1px 1px 8px var(--bg-body) !important;
    color: #fff !important;
    font-size: 18px !important;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    text-align: center !important;
    @media (min-width: 1400px) {
      font-size: 40px !important;
    }
  }
  &__content {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
  }
  &__wrapper {
    height: 100%;
    // padding: 1rem;
  }
  &__expositor {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    @media (min-width: 1200px) {
      // right: 1rem;
      // top: 1rem;
      // bottom: initial;
      left: 1rem;
      right: initial;
      &--to-right {
        right: 1rem;
        left: initial;
      }
    }
    &-description {
      font-size: 18px;
      text-align: center;
      font-weight: bold;
    }
  }
}
