.formulacionEstrategia {
  min-height: 100%;
  height: inherit;
  //   border: solid 1px greenyellow;
  &__item {
    height: 140px;
    width: 140px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    position: relative;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: animateIt 0.8s -0.8s infinite alternate cubic-bezier(0.165, 0.84, 0.44, 1);

    @media (min-width: 768px) {
      //   height: 80px;
      //   width: 80px;
    }
    @media (min-width: 1200px) {
      height: 170px;
      width: 170px;
    }
  }

  > .ant-row > .ant-col:nth-child(1) .formulacionEstrategia__item {
    animation-delay: -0.8s;
    background-color: #f1a000;
  }

  > .ant-row > .ant-col:nth-child(2) .formulacionEstrategia__item {
    animation-delay: -0.6s;
    background-color: #282d31;
  }
  > .ant-row > .ant-col:nth-child(3) .formulacionEstrategia__item {
    animation-delay: -0.4s;
    background-color: #ff3c32;
  }
  > .ant-row > .ant-col:nth-child(4) .formulacionEstrategia__item {
    animation-delay: -0.25s;
    background-color: #007bdf;
  }

  &__h2 {
    font-size: 14px !important;
    color: rgba(255, 255, 255, 0.603) !important;
    @media (min-width: 768px) {
      font-size: 15px !important;
    }
    @media (min-width: 1200px) {
      font-size: 17px !important;
    }
    text-align: center !important;
    margin-bottom: 0;
  }
}

@keyframes animateIt {
  from {
    transform: scale(1);
    box-shadow: 0 0 40px 1px var(--bg-body);
  }
  to {
    transform: scale(1.3);
  }
}
