.elaboracionBsc {
  .ant-table-title {
    text-align: center !important;
    // font-weight: bold !important;
    // font-size: 24px;
  }

  .slick-dots li {
    color: var(--bg-body) !important;
  }

  .slick-dots button {
    font-size: 20px !important;
    background-color: var(--bg-body) !important;
    color: var(--bg-body) !important;
  }
}
