:root {
  --bg-body: rgb(30, 31, 38);
  --primary-color: rgb(30, 31, 38);
  --second-color: #131417;
  --height-header: 100px;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  min-height: 100vh;
  height: 100%;
  width: 100%;
}

.je-scroll::-webkit-scrollbar {
  width: 10px; /* Tama�o del scroll en vertical */
  height: 8px; /* Tama�o del scroll en horizontal */
  /*display: none; */ /* Ocultar scroll */
}

.je-scroll::-webkit-scrollbar-thumb {
  background: #b6b6b6;
  border-radius: 4px;
}

/* Cambiamorgb(255, 0, 128) fondo y agregamos una sombra cuando est� en hover */
.je-scroll::-webkit-scrollbar-thumb:hover {
  background: #858585;
  /* box-shadow: 0 0 2px 1px #621919; */
}

/* Cambiamos el fondo cuando est� en active */
.je-scroll::-webkit-scrollbar-thumb:active {
  background-color: #858585;
}

/* Ponemos un color de fondo y redondeamos las esquinas del track */
.je-scroll::-webkit-scrollbar-track {
  /* background: #e1e1e1; */
  /* background-color: var(--body-color); */
  background-color: #fff;
  border-radius: 4px;
}

/* Cambiamos el fondo cuando est� en active o hover */
.je-scroll::-webkit-scrollbar-track:hover,
.je-scroll::-webkit-scrollbar-track:active {
  /* background: #d4d4d4; */
  /* background-color: var(--body-color); */
  background-color: #fff;
}

@media screen and (min-width: 1400px) {
  :root {
    --height-header: 250px;
  }
}
